.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

    .collage-img {
      height: 350px;
      object-fit: cover;
      border-radius: 10px;
    }

  html {
    scroll-behavior: smooth; /* Efecto de desplazamiento suave */
  }

      /* Fuente base para todo el sitio */
    body {
      margin: 0;
      font-family: 'Nunito', sans-serif;
    }

    /* Títulos */
    h1, h2, h3 {
      font-family: 'Baloo 2', cursive;
      color: #2196F3;
    }

    .seccion-verde {
      background-color: #4CAF50; /* Verde principal */
      color: #fff;               /* Texto blanco */
      padding: 80px 20px;        /* Espaciado interno */
      text-align: center;        /* Centra el texto */
      width: 100%;               /* Ocupa todo el ancho */
    }

    .seccion-verde h2 {
      font-family: 'Baloo 2', cursive; /* Título amigable */
      font-size: 2.5rem;
      margin-bottom: 15px;
    }

    .seccion-verde p {
      font-size: 1.2rem;
      max-width: 800px;  /* Ancho máximo del texto */
      margin: 0 auto;    /* Centrar el párrafo */
      line-height: 1.6;
    }

